#page-header #nav #menus .menus_item > a {
    border-radius: 8px;
}
#page-header #nav .menus_items .menus_item:hover .menus_item_child {
    border-radius: 10px;
    border-width: 2px;
}
#page-header #nav #menus a {
    border-radius: 8px;
}

.prev-post,.next-post{
    border-width: 6px !important;
    border-style: solid !important;
    border-color: var(--anzhiyu-white) !important ;

}

 {

}


.prev-post:hover,.next-post:hover {
    border-width: 6px !important;
    border-style: solid !important;
    border-color: var(--anzhiyu-theme) !important ;
}
.prev-post a{
    border-radius: 12px!important;
}
.next-post a{
    border-radius: 12px!important;
}
.prev-post a img{
    border-radius: 12px!important;
}
.next-post a img{
    border-radius: 12px!important;
}
·pagination-post {
    border-radius: 12px!important;
}

